%% -*- erlang -*-
{erl_opts, [debug_info, fail_on_warning,
            {i, ["deps/mongodb/src"]}]}.
{deps, [
  {mochiweb, ".*",
   {git, "git://github.com/mochi/mochiweb.git", "master"}},
 {mongodb, ".*",
   {git, "git@github.com:mongodb/mongodb-erlang.git", "HEAD"}}
]}.
{cover_enabled, true}.
{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.
